/* Variables */
:root {
    --lightGreen: #F4FFF3;
    --lighterGreen: #b1edaa;
    --green: #1B7349;
    --darkGreen: #3F574B;
    --darkerGreen: #29402d;
    --brightOrange: #F0A687;
    --darkOrange: #B97F65;
    --relaxingGreen: #CDFFC7;
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --xlSpacer: 50px;
}

/* Generel styling */

* {
    box-sizing: border-box;

    p {
        font-family: "Manrope", sans-serif;
        font-size: 1rem;
        color: var(--darkGreen);
    }

    h1 {
        font-family: "Manrope", sans-serif;
        font-size: 1.8rem;
        max-width: 200px;
    }

    h2 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
    }
}

/* Body */
body {
    margin: 0;
    background-color: var(--lightGreen);
    line-height: 1.5;

    p {
        font-family: "Manrope", sans-serif;
    }

    a {
        font-family: "Manrope", sans-serif;
    }

    h3 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
        margin-bottom: 0;
    }
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--relaxingGreen);

    i {
        color: var(--darkerGreen);
    }
}

.logo {
    height: 60px;
}



button {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Dropdown menu */

#menu {
    display: none;
    background-color: var(--lighterGreen);
    padding: 10px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

#menu a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--darkerGreen);
    padding: 10px;
}

details {
    padding: 10px;
    font-size: 1rem;
    color: var(--darkerGreen);

    a {
        font-weight: normal;
    }
}

/* Header */


.headerImg {
    position: relative;


    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
        text-align: center;
        width: 90%;
        margin: 0;
        border-bottom: #ff855168;
        border-style: none none solid none;
        padding: 0px;
    }
}

.headerImg2 {
    position: relative;


    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
}


/* Main */

.textSection {
    padding: var(--smSpacer);
    margin: auto;

    h2 {
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        max-height: 200px;
        object-fit: cover;
    }
}

.break {
    background-color: #202f2950;
    height: 2px;
    width: 66%;
    margin: auto;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--mdSpacer);
    border-radius: 25px;
}

.relatedArticles {
    text-align: center;

}

.articleCard {
    background-color: var(--lighterGreen);
    border-radius: 5px;
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
    padding: var(--smSpacer);
    margin-bottom: var(--mdSpacer);


    img {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .ctaButton {
        display: inline-flex;
        align-items: center;
        background-color: var(--brightOrange);
        padding: 6px 10px 10px 10px;
        margin-top: 8px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--darkerGreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-color: var(--darkOrange);
        border-width: 2px;
        border-style: groove;

        i {
            margin-left: 8px;
        }
    }

    .ctaButton:hover {
        transform: translateY(-3px);
        transition: .2s;
    }
}

/* Footer */

footer {
    background-color: var(--relaxingGreen);
    text-align: center;
    padding: var(--smSpacer);
}

.footerLogo {
    max-width: 125px;
}

/* Ændre udseende på E-mail i footer da det er et funktionel link og påtager sig standard tekst dekoration (<a>) */
.e-mail {
    text-decoration: none;
    color: var(--darkGreen);
}