/* Variables */
:root {
    --lightGreen: #F4FFF3;
    --lighterGreen: #b1edaa;
    --green: #1B7349;
    --darkGreen: #3F574B;
    --darkerGreen: #29402d;
    --brightOrange: #F0A687;
    --darkOrange: #B97F65;
    --relaxingGreen: #CDFFC7;
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --xlSpacer: 50px;
}

/* Generel styling */

* {
    box-sizing: border-box;

    p {
        font-family: "Manrope", sans-serif;
        font-size: 1rem;
        color: var(--darkGreen);
    }

    h1 {
        font-family: "Manrope", sans-serif;
        font-size: 1.8rem;
        max-width: 200px;
    }

    h2 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
    }
}

/* Body */
body {
    margin: 0;
    background-color: var(--lightGreen);
    line-height: 1.5;

    p {
        font-family: "Manrope", sans-serif;
    }

    a {
        font-family: "Manrope", sans-serif;
    }

    h3 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
        margin-bottom: 0;
    }
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--relaxingGreen);

    i {
        color: var(--darkerGreen);
    }
}

.logo {
    height: 60px;
    margin-right: var(--smSpacer);
}



button {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Dropdown menu */

#menu {
    display: none;
    background-color: var(--lighterGreen);
    padding: 10px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

#menu a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--darkerGreen);
    padding: 10px;
}

details {
    padding: 10px;
    font-size: 1rem;
    color: var(--darkerGreen);

    a {
        font-weight: normal;
    }
}


.navDesktop {
    display: none;
}

/* Header */


.headerImg {
    position: relative;


    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
        text-align: center;
        width: 90%;
        margin: 0;
        border-bottom: #ff855168;
        border-style: none none solid none;
        padding: 0px;
    }
}

.headerImg2 {
    position: relative;


    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
}

.breadcrumb {

    a {
        text-decoration: underline;
        color: var(--darkGreen);
        padding-left: 8px;
    }
}

.arrow {
    color: var(--darkGreen);
    padding-left: 8px;
}

/* Main */

.textSection {
    padding: var(--smSpacer);
    margin: auto;

    h2 {
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        max-height: 200px;
        object-fit: cover;
    }
}

.break {
    background-color: #202f2950;
    height: 2px;
    width: 66%;
    margin: auto;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--mdSpacer);
    border-radius: 25px;
}

.relatedArticles {
    text-align: center;

}

.articleCard {
    display: inline-block;
    background-color: var(--lighterGreen);
    border-radius: 5px;
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
    padding: var(--smSpacer);
    margin-bottom: var(--mdSpacer);
    max-width: 450px;


    img {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .ctaButton {
        display: inline-flex;
        align-items: center;
        background-color: var(--brightOrange);
        padding: 6px 10px 10px 10px;
        margin-top: 8px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--darkerGreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-color: var(--darkOrange);
        border-width: 2px;
        border-style: groove;

        i {
            margin-left: 8px;
        }
    }

    .ctaButton:hover {
        transform: translateY(-3px);
        transition: .2s;
    }
}

.maalgruppe {
    font-family: "Manrope", sans-serif;
    color: var(--darkGreen);
}

/* Kontaktside */

.kontaktForm {
    background-color: var(--relaxingGreen);
    padding: var(--smSpacer);
    border-radius: 5px;

    h2 {
        margin-top: 0px;
    }

    button {
        font-family: "Manrope", sans-serif;
        display: inline-flex;
        align-items: center;
        background-color: var(--brightOrange);
        padding: 6px 10px 10px 10px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--darkerGreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-color: var(--darkOrange);
        border-width: 2px;
        border-style: groove;
        font-size: 1rem;

        i {
            margin-left: 8px;
        }
    }
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: var(--smSpacer);
    font-family: "Manrope", sans-serif;

}

textarea {
    height: 150px;
    margin-bottom: 8px;
}

.kontaktPerson {
    margin: auto;
    display: flex;
    padding-bottom: var(--mdSpacer);
    max-width: 450px;

    img {
        border-radius: 100%;
        width: 150px;
    }
}

.information {
    margin-left: var(--smSpacer);

    p {
        margin: 0;
    }

    a {
        color: var(--darkGreen);
        overflow-wrap: anywhere;
        font-size: 14px;
    }
}

/* Afdelinger */

.afdelingImg {
    margin-top: 100px;
    max-width: 92%;
    margin: var(--mdSpacer) auto auto auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

.afdelingIndhold {

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        font-size: 2rem;
    }

    h3 {
        padding: var(--smSpacer);
        margin: auto;
        padding-bottom: 0px;
    }
}

.afdelingAdresse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.afdelingTekst {
    padding: var(--smSpacer);
    margin: auto;
}

.imgSectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleri {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--smSpacer);
    max-width: 92%;
    margin: auto;

    img {
        max-width: 100%;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    }
}

.imgContainer {
    height: 280px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


/* Footer */

footer {
    background-color: var(--relaxingGreen);
    text-align: center;
    padding: var(--smSpacer);
    position: relative;
}

.footerLogo {
    max-width: 125px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 50%;
}

.top {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--darkerGreen);
    font-size: 2rem;
}

.top:hover {
    transform: translateY(-5px);
    transition: .2s;
}

/* Ændrer udseende på E-mail i footer da det er et funktionel link og påtager sig standard tekst dekoration (<a>) */
.e-mail {
    text-decoration: none;
    color: var(--darkGreen);
}

@media (min-width: 700px) {
    main {
        max-width: 1000px;
        margin: auto;
    }

    .header button {
        display: none;
    }

    .navDesktop {
        display: flex;
        align-items: center;
        padding: var(--smSpacer);
    }

    .navLinks {
        display: flex;
        list-style: none;
        gap: var(--mdSpacer);
        margin: 0px;
    }

    .navLinks a {
        text-decoration: none;
        color: var(--darkerGreen);
    }


    .dropdownMenu {
        display: none;
        position: absolute;
        padding: 0px;
        min-width: 200px;
        background: var(--relaxingGreen);
        z-index: 1;
        list-style: none;
        border-radius: 5px;

        li a {
            display: block;
            padding: 10px;
        }
    }

    .navLinks a.active {
        text-decoration: underline;
    }

    .navLinks li:hover {
        transform: translateY(-3px);
        transition: .2s;
        z-index: 2;
    }

    .dropdown:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu a:hover {
        transform: translateY(-3px);
        transition: .2s;
    }


    .kidsPlaying {
        display: none;
    }

    .intro {
        margin-top: var(--mdspacer);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 16px;
        grid-template-areas:
            "intro1 imgRight"
            "intro2 imgRight";
    }

    p {
        margin-bottom: 16px;
        margin-top: 0px;
    }

    .intro1 {
        grid-area: intro1;
        padding: 0px;
    }

    .intro2 {
        grid-area: intro2;
    }

    .imgRight {
        grid-area: imgRight;
    }

    .textSection {
        img {
            max-height: 100%;
        }
    }

}


/* NOTER */
/* husk at lav nav, header og footer om til desktop*/