/* Mobil versionen er optimeret til 450px */
/* Desktop versionen er optimeret til +1000px da <Main> har en max-width på 1000*/

/* Variables */
:root {
    --lightGreen: #F4FFF3;
    --lighterGreen: #b1edaa;
    --green: #1B7349;
    --darkGreen: #3F574B;
    --darkerGreen: #29402d;
    --brightOrange: #F0A687;
    --darkOrange: #B97F65;
    --relaxingGreen: #CDFFC7;
    --smSpacer: 1rem;
    --mdSpacer: 2rem;
    --xlSpacer: 50px;
}

/* Generel styling */

* {
    box-sizing: border-box;

    p {
        font-family: "Manrope", sans-serif;
        font-size: 1rem;
        color: var(--darkGreen);
    }

    h1 {
        font-family: "Manrope", sans-serif;
        font-size: 1.8rem;
        max-width: 200px;
    }

    h2 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
    }

    .boldText {
        font-weight: bold;
    }
}

/* Body */
body {
    margin: 0;
    background-color: var(--lightGreen);
    line-height: 1.5;

    p {
        font-family: "Manrope", sans-serif;
    }

    a {
        font-family: "Manrope", sans-serif;
    }

    h3 {
        font-family: "Manrope", sans-serif;
        color: var(--darkerGreen);
        margin-bottom: 0;
    }
}

html {
    scroll-behavior: smooth;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--relaxingGreen);

    i {
        color: var(--darkerGreen);
    }
}

.logo {
    height: 60px;
    margin-right: var(--smSpacer);
}



button {
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
}

/* Dropdown menu */

#menu {
    display: none;
    background-color: var(--lighterGreen);
    padding: 10px;
    font-weight: bold;
    font-family: "Manrope", sans-serif;
}

#menu a {
    display: block;
    text-decoration: none;
    font-size: 1rem;
    color: var(--darkerGreen);
    padding: 10px;
}

details {
    padding: 10px;
    font-size: 1rem;
    color: var(--darkerGreen);

    a {
        font-weight: normal;
    }
}


.navDesktop {
    display: none;
}

/* Header */


.headerImg {
    position: relative;


    img {
        width: 100%;
        height: 220px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }

    h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-shadow: 0 2px 6px rgba(0, 0, 0, .5);
        text-align: center;
        width: 90%;
        margin: 0;
        border-bottom: #ff855168;
        border-style: none none solid none;
        padding: 0px;
    }
}

.headerImg2 {
    position: relative;


    img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        display: block;
        filter: brightness(80%);
    }
}

.breadcrumb {

    a {
        text-decoration: underline;
        color: var(--darkGreen);
        padding-left: 8px;
    }
}

.arrow {
    color: var(--darkGreen);
    padding-left: 8px;
}

/* Main */

.textSection {
    padding: var(--smSpacer);
    margin: auto;

    h2 {
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        max-height: 200px;
        object-fit: cover;
    }
}

.textSectionTM {
    padding: var(--smSpacer);
    margin: auto;

    h2 {
        text-align: center;
    }

    img {
        width: 100%;
        border-radius: 5px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        max-height: 200px;
        object-fit: cover;
    }
}

.break {
    background-color: #202f2950;
    height: 2px;
    width: 66%;
    margin: auto;
    margin-top: var(--mdSpacer);
    margin-bottom: var(--mdSpacer);
    border-radius: 25px;
}

.relatedArticles {
    text-align: center;

}

.articleCard {
    display: inline-block;
    background-color: var(--lighterGreen);
    border-radius: 5px;
    margin-left: var(--smSpacer);
    margin-right: var(--smSpacer);
    padding: var(--smSpacer);
    margin-bottom: var(--mdSpacer);
    max-width: 450px;


    img {
        box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        width: 100%;
        height: 250px;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }

    .ctaButton {
        display: inline-flex;
        align-items: center;
        background-color: var(--brightOrange);
        padding: 6px 10px 10px 10px;
        margin-top: 8px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--darkerGreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-color: var(--darkOrange);
        border-width: 2px;
        border-style: groove;

        i {
            margin-left: 8px;
        }
    }

    .ctaButton:hover {
        transform: translateY(-3px);
        transition: .2s;
    }
}

.maalgruppe {
    font-family: "Manrope", sans-serif;
    color: var(--darkGreen);
}

/* Kontaktside */

.kontaktForm {
    background-color: var(--relaxingGreen);
    padding: var(--smSpacer);
    border-radius: 5px;

    h2 {
        margin-top: 0px;
    }

    button {
        font-family: "Manrope", sans-serif;
        display: inline-flex;
        align-items: center;
        background-color: var(--brightOrange);
        padding: 6px 10px 10px 10px;
        border-radius: 10px;
        text-decoration: none;
        color: var(--darkerGreen);
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
        border-color: var(--darkOrange);
        border-width: 2px;
        border-style: groove;
        font-size: 1rem;

        i {
            margin-left: 8px;
        }
    }
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: var(--smSpacer);
    font-family: "Manrope", sans-serif;

}

textarea {
    height: 150px;
    margin-bottom: 8px;
}

.kontaktPerson {
    margin: auto;
    display: flex;
    padding-bottom: var(--mdSpacer);
    max-width: 450px;

    img {
        border-radius: 50%;
        width: 150px;
    }
}

.information {
    margin-left: var(--smSpacer);

    p {
        margin: 0;
    }

    a {
        color: var(--darkGreen);
        overflow-wrap: anywhere;
        font-size: 14px;
    }
}

/* Afdelinger */

.afdelingImg {
    margin-top: 100px;
    max-width: 92%;
    margin: var(--mdSpacer) auto auto auto;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
}

.afdelingIndhold {

    h2 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        font-size: 2rem;
    }

    h3 {
        padding: var(--smSpacer);
        margin: auto;
        padding-bottom: 0px;
    }
}

.afdelingAdresse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.afdelingTekst {
    padding: var(--smSpacer);
    margin: auto;
}

.imgSectionTitle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleri {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--smSpacer);
    max-width: 92%;
    margin: auto;

    img {
        max-width: 100%;
        margin: auto;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, .2);
    }
}

.imgContainer {
    height: 280px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, .2);

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}


/* Footer */

footer {
    background-color: var(--relaxingGreen);
    text-align: center;
    padding: var(--smSpacer);
    position: relative;
}

.footerLogo {
    max-width: 125px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .15);
    border-radius: 50%;
}

.top {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: var(--darkerGreen);
    font-size: 2rem;
}

.top:hover {
    transform: translateY(-5px);
    transition: .2s;
}

/* Ændrer udseende på E-mail i footer da det er et funktionel link og påtager sig standard tekst dekoration (<a>) */
.e-mail {
    text-decoration: none;
    color: var(--darkGreen);
}

/* Under udviklingen af desktop layoutet er det set at der er en uoptimal opsætning af HTML koden */
/* Dette resultere i at der er blevet udviklet uoptimale løsninger på problemer, der ikke havde forekommet, havde HTMl opsætning været anderledes */
@media (min-width: 700px) {
    main {
        max-width: 1000px;
        margin: auto;
    }

    /* Navigation Desktop */

    .header button {
        display: none;
    }

    .navDesktop {
        display: flex;
        align-items: center;
        padding: var(--smSpacer);
        padding-right: var(--mdSpacer);
    }

    .navLinks {
        display: flex;
        list-style: none;
        gap: var(--mdSpacer);
        margin: 0px;
    }

    .navLinks a {
        text-decoration: none;
        color: var(--darkerGreen);
    }


    .dropdownMenu {
        display: none;
        position: absolute;
        padding: 0px;
        min-width: 200px;
        background: var(--relaxingGreen);
        z-index: 1;
        list-style: none;
        border-radius: 5px;

        li a {
            display: block;
            padding: 10px;
        }
    }

    .navLinks a.active {
        text-decoration: underline;
    }

    .navLinks li:hover {
        transform: translateY(-3px);
        transition: .2s;
        z-index: 2;
    }

    .dropdown:hover .dropdownMenu {
        display: block;
    }

    .dropdownMenu a:hover {
        transform: translateY(-3px);
        transition: .2s;
    }

    .headerImg img {
        height: 350px;
    }

    /* Forside Desktop */
    .intro {
        margin-top: var(--mdspacer);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 16px;
        grid-template-areas:
            "intro1 imgRight"
            "intro2 imgRight";
    }

    p {
        margin-bottom: 16px;
        margin-top: 0px;
    }

    .intro1 {
        grid-area: intro1;
        padding: 0px;
    }

    .intro2 {
        grid-area: intro2;
    }

    .imgRight {
        grid-area: imgRight;
    }

    .textSection {
        img {
            max-height: 100%;
        }
    }

    /* Om Botilbuddene Himmerland */
    .headerImg2 img {
        height: 300px;
    }

    /* Her kommer en knap så optimal løsning på tekst og billede layoutet på siden. Det var den mest tidsoptimale løsning jeg kunne finde */
    /* Der var problemer med selve HTML strukturen i forhold til at sætte indhold op i grid */
    /* Problemet er opdaget da siden skulle skiftes til desktop layout */
    /* HTML blev ikke organiseret om da tidsmangel forekom */


    .textIndhold {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(11, auto);
        column-gap: var(--mdSpacer);
    }

    /* Herunder bliver klasserne valgt og lagt i den kolonne/row der er ønsket, ligesom ved brug af grid-area*/
    .p1BH {
        grid-column: 1;
        grid-row: 1;
    }

    .p2BH {
        grid-column: 1;
        grid-row: 2;
    }

    .p3BH {
        grid-column: 1;
        grid-row: 3;
    }

    .p4BH {
        grid-column: 1;
        grid-row: 4;
    }

    /* Her bliver der valgt den første type af h3 med klassen textTitle inden i .textIndhold */
    .textIndhold h3.textTitle:nth-of-type(1) {
        grid-column: 1;
        grid-row: 5;
    }

    .p5BH {
        grid-column: 1;
        grid-row: 6;
    }

    .p6BH {
        grid-column: 1;
        grid-row: 7;
    }

    .p7BH {
        grid-column: 1;
        grid-row: 8;
    }

    /* Her bliver der valgt den anden af typen af h3 med klassen textTitle inden i .textIndhold */
    .textIndhold h3.textTitle:nth-of-type(2) {
        grid-column: 1;
        grid-row: 9;
    }

    .p8BH {
        grid-column: 1;
        grid-row: 10;
    }

    .p9BH {
        grid-column: 1;
        grid-row: 11;
    }

    /* Herunder får billederne deres kolonner, men også hvor mange rows de må fylde med fx grid-row: 1 / 5; */
    .img1BH {
        grid-column: 2;
        grid-row: 1 / 5;
    }

    .img2BH {
        grid-column: 2;
        grid-row: 6 / 9;
    }

    .img3BH {
        grid-column: 2;
        grid-row: 10 / 12;
    }

    /* Målgruppe, tilgange og metoder Desktop */
    /* Herunder bliver der brugt samme løsning som i "Om Botilbuddene Himmerland" til Målgruppe, tilgange og metoder siden */
    .textSectionTM {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        max-width: 800px;
    }

    .textSectionTM * {
        grid-column: 1;
    }

    .img1tm {
        grid-column: 2;
        grid-row: 1 / 3;
        margin-top: var(--xlSpacer);
    }

    .img2tm {
        grid-column: 2;
        grid-row: 5 / 7;
    }

    .img3tm {
        grid-column: 2;
        grid-row: 10 / 11;
    }

    .img4tm {
        grid-column: 2;
        grid-row: 12 / 13;
    }

    .img5tm {
        grid-column: 2;
        grid-row: 14 / 15;
    }

    .textSectionTM h2,
    .textSectionTM .break {
        grid-column: 1 / -1;
    }

    /* Her bliver teksten lagt i centrum da den ellers ville blive for lang */
    .p7tm {
        grid-column: 1 / 3;
        justify-self: center;
        width: 500px;
    }

    .textTitleTM7 {
        grid-column: 2;
        grid-row: 18 / 19;
    }

    .p9tm {
        grid-column: 2;
        grid-row: 19 / 20;
    }

    .img7tm {
        grid-column: 2;
        grid-row: 20 / 21;
    }

    /* Afdelinger Desktop*/

    .afdelingTekst,
    .afdelingArtikel h3 {
        max-width: 800px;
    }

    /* Herunder bliver der brugt RAM grid til at ændre galleriets layout (repeat, auto-fit og minmax) */
    .galleri {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: var(--smSpacer);
    }




}

@media (min-width: 850px) {

    /* Footer Desktop */
    footer {
        display: grid;
        /* Her bliver de inspireret fra problem fra Stack Overflow da jeg selv havde samme problem */
        /* Jeg ville gøre grid-areas samme størrelse, og brugte derfor minmax som jeg fandt her: https://stackoverflow.com/questions/47601564/equal-width-columns-in-css-grid */
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, fr);
        grid-template-areas:
            "kontakt1 logo ."
            "kontakt2 cvr ."
            "kontakt3 ophavsret top"
            "kontakt4 ophavsret top"
        ;
        row-gap: 0px;

    }

    .footerLogo {
        grid-area: logo;
        justify-self: center;
    }

    .top {
        grid-area: top;
    }

    .kontaktInfoFooter1 {
        grid-area: kontakt1;
        text-align: left;
        margin-top: 80px;
    }

    .kontaktInfoFooter2 {
        grid-area: kontakt2;
        text-align: left;
    }

    .kontaktInfoFooter3 {
        grid-area: kontakt3;
        text-align: left;
    }

    .kontaktInfoFooter4 {
        grid-area: kontakt4;
        text-align: left;
    }

    .CVR {
        grid-area: cvr;
    }

    .ophavsret {
        grid-area: ophavsret;
    }

    /* Kontakt Desktop */

    .kontaktIntro {
        max-width: 800px;
        margin: auto auto var(--mdSpacer) auto;
    }

    .kontaktForm {
        height: 500px;
        max-width: 800px;
        margin: auto;
    }

    .kontaktForm textarea {
        height: 245px;
    }

    .medbarbejdere {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: var(--smSpacer);
    }

}